zmodule input # Applies correct bindkeys for input events.
zmodule termtitle # Sets a custom terminal title.
zmodule utility # Utility aliases and functions. Adds colour to ls, grep and less.

zmodule duration-info
zmodule git-info
zmodule exa
zmodule magic-enter

zmodule remino/omz-plugin-git-aliases --source ./git-aliases.plugin.zsh

zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule g-plane/pnpm-shell-completion # needs binary downloaded from releases
zmodule g-plane/zsh-yarn-autocompletions
zmodule zsh-users/zsh-autosuggestions
zmodule jscutlery/nx-completion

zmodule zsh-users/zsh-history-substring-search

zmodule trystan2k/zsh-tab-title
zmodule djui/alias-tips
zmodule MikeDacre/cdbk
zmodule torifat/npms
zmodule icatalina/zsh-navi-plugin

zmodule zsh-users/zsh-syntax-highlighting