"*":
  Zen:
    softWrap: true
  "atom-material-ui":
    colors:
      abaseColor: "#f9f9f9"
      accentColor: "#06d6a0"
      paintCursor: true
      predefinedColor: "Orange"
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui: {}
  "atom-package-deps":
    ignored: []
  "atom-ternjs": {}
  "autocomplete-modules":
    babelPluginModuleResolver: true
  "autocomplete-plus":
    scopeBlacklist: [
      ".source.narrow"
    ]
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.js.jsx": [
        "js"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "emmet"
      "minimap-autohide"
      "spell-check"
      "touch-slide"
    ]
    projectHome: "/Users/timo/dev"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "one-meh-dark-syntax"
    ]
    titleBar: "custom-inset"
    useTreeSitterParsers: false
  editor:
    fontFamily: "Fira Mono"
    lineHeight: 1.8
    preferredLineLength: 80
    scrollPastEnd: true
    showInvisibles: true
    undoGroupingInterval: 400
  emmet:
    extensionsPath: "~/.emmet"
  "emmet-atom-plugin":
    enableMathCompletions: false
  "exception-reporting":
    userId: "479e37d9-5fdf-42c0-8863-37d0402a9639"
  "file-icons":
    coloured: false
    onChanges: true
  "git-blame":
    colorCommitAuthors: true
  "git-plus":
    commits:
      verboseCommits: true
    tags:
      signTags: true
  jumpy:
    customKeys: [
      "j"
      "f"
      "k"
      "d"
      "l"
      "s"
      "a"
      "n"
      "v"
      "m"
      "c"
      "i"
      "e"
      "o"
      "w"
      "p"
      "q"
    ]
  linter:
    disabledProviders: [
      "RuboCop"
      "ESLint"
    ]
  "linter-js-standard":
    checkStyleDevDependencies: true
  "linter-rubocop":
    command: "/Users/timo/.rbenv/shims/rubocop"
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "minimap-autohide": false
      "minimap-autohideDecorationsZIndex": 0
  "one-dark-ui": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
    prettierOptions:
      semi: false
      singleQuote: true
    useEslint: true
  "react-function-to-class":
    semicolons: false
  "spell-check":
    locales: [
      "en-US"
      "de-DE"
    ]
  "tree-view": {}
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
