packages: [
  "advanced-open-file"
  "atom-material-ui"
  "atom-ternjs"
  "autocomplete-modules"
  "busy-signal"
  "css-in-js"
  "docblockr"
  "editorconfig"
  "file-icons"
  "git-blame"
  "git-plus"
  "hey-pane"
  "hyperclick"
  "indent-guide-improved"
  "intentions"
  "js-hyperclick"
  "jumpy"
  "language-babel"
  "language-gradle"
  "language-groovy"
  "language-haml"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-js-standard"
  "linter-ui-default"
  "minimap"
  "no-title-bar"
  "package-sync"
  "pigments"
  "prettier-atom"
  "project-manager"
]
