// syntax font is natively a bit too thin
atom-workspace {
  font-weight: 500;
}

// line number font
atom-text-editor.editor .line-number {
  font-family: PT Mono;
  font-weight: 800;
}

// make active line number pop
atom-text-editor .gutter .line-number.cursor-line {
  opacity: 1;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

// remove 'projects' title bar header
atom-dock.left .tab-bar {
  display: none;
}

// shadow to tree view
atom-dock.left::before {
  content: '';
  position: absolute;
  top: -50px;
  bottom: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  z-index: 10;
}

// better indent guides
.indent-guide-improved {
  background-color: rgba(255, 255, 255, 0.03);
  width: 2px;

  &.indent-guide-stack {
    background-color: rgba(255, 255, 255, 0.06);

    &.indent-guide-active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

// make tree view items taller
.tree-view {
  .entry.selected {
    &::before {
      height: 28px + 4px;
      margin-top: -2px;
    }
  }

  .entry {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

// less indent tree view
.tree-view {
  .list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
  .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    padding-left: 16px;
  }
}

// no no pls no dock buttons
.atom-dock-toggle-button-visible {
  display: none !important;
}

// nonboring command palette error message
.modal.overlay {
  @faces:
    "(>_<)",
    "\\(^Д^)/",
    "(≥o≤)",
    "(^_^)b",
    "(·_·)",
    "\\(o_o)/",
    "(^-^*)",
    "(o^^)o",
    "(˚Δ˚)b",
    "(ง'-')ง",
    "(¬_¬)",
    "(◕ᗝ◕)",
    "(ง'̀-'́)ง",
    "ʕ•ᴥ•ʔ",
    "(¬ ʖ̯¬)",
    "(ಥ﹏ಥ)",
    "(☞ﾟ∀ﾟ)☞",
    "ლ(ಠ益ಠლ)",
    "\\ (•◡•) /",
    "ᕙ(⇀‸↼‶)ᕗ",
    "☜(˚▽˚)☞",
    "ლ(´ڡ`ლ)",
    "(>ლ)",
    "(/) (°,,°) (/)",
    "ʕノ•ᴥ•ʔノ",
    "(╥﹏╥)",
    "ψ(｀∇´)ψ",
    "ᕙ(`▽´)ᕗ",
    "t(ಠ益ಠt)",
    "[¬º-°]¬";

  .command-palette {
    .editor.mini + span {
      display: block;
      text-align: center;
      font-size: 1.2em;
      margin: 20px 0;
    }

    .editor.mini + span::after {
      content: extract(@faces, 1);
      display: block;
      font-size: 5em;
      margin: 30px 0 30px;
      opacity: 0.3;
    }

    // loops in less are fucked up. does this look like a loop? no. it doesn't.
    .faceloop(@i: length(@faces)) when (@i > 0) {
      @face: extract(@faces, @i);
      &.face-@{i} .editor.mini + span::after {
        content: @face;
      }
      .faceloop((@i - 1));
    }

    .faceloop;
  }
}
