atom-text-editor.editor .line-number {
  font-family: PT Mono;
  font-weight: 600;
}

.title-bar .title {
  opacity: 0;
}

body:not(.fullscreen) .tab-bar {
  margin-top: -40px;
  margin-left: 0;
}

.tab-bar-indented .tab-bar {
  margin-left: 90px !important;
}

.tab-bar .tab .title {
  position: relative;
  top: 2px;
  transition: transform 130ms;
}

.tab-bar .tab.active .title {
  transform: translateY(-1px);
}

.tree-view {
  .entry.selected {
    &::before {
      left: -100px;
    }
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
  .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    padding-left: 16px;
  }
}

atom-text-editor .gutter .line-number.cursor-line {
  color: #E1BEE7;
  background-color: rgba(255, 255, 255, 0.06);
}


.atom-dock-toggle-button-visible {
  display: none !important;
}

.modal.overlay {
  top: 100px !important;

  box-shadow: 0 0 100rem rgba(0, 0, 0, 0.19), 0 0 10rem rgba(0, 0, 0, 0.23),  0 0 5rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;

  // Fancy command palette error message
  .command-palette {

    .editor.mini + span {
      display: block;
      text-align: center;
      font-size: 1.2em;
      margin: 20px 0;
    }

    .editor.mini + span::after {
      content: "(>_<)";
      display: block;
      font-size: 5em;
      margin: 10px 0 30px;
      opacity: 0.3;
    }

    // Random emotes
    &.face-1 .editor.mini + span::after {
      content: "(>_<)";
    }

    &.face-2 .editor.mini + span::after {
      content: "\\(^Д^)/";
    }

    &.face-3 .editor.mini + span::after {
      content: "(≥o≤)";
    }

    &.face-4 .editor.mini + span::after {
      content: "(^_^)b";
    }

    &.face-5 .editor.mini + span::after {
      content: "(·_·)";
    }

    &.face-6 .editor.mini + span::after {
      content: "(;-;)";
    }

    &.face-7 .editor.mini + span::after {
      content: "(='X'=)";
    }

    &.face-8 .editor.mini + span::after {
      content: "\\(o_o)/";
    }

    &.face-9 .editor.mini + span::after {
      content: "(·.·)";
    }

    &.face-10 .editor.mini + span::after {
      content: "(^-^*)";
    }

    &.face-11 .editor.mini + span::after {
      content: "(o^^)o";
    }

    &.face-12 .editor.mini + span::after {
      content: "(˚Δ˚)b";
    }

    &.face-13 .editor.mini + span::after {
      content: "(ง'-')ง";
    }

    &.face-14 .editor.mini + span::after {
      content: "(¬_¬)";
    }

    &.face-15 .editor.mini + span::after {
      content: "(◕ᗝ◕)";
    }

    &.face-16 .editor.mini + span::after {
      content: "(¬ ʖ̯¬)";
    }
  }
}

// vibrancy
atom-panel-container.header {
  background-color: transparent !important;
}

atom-panel-container.footer {
  background-color: rgba(40, 44, 52, 0.6) !important;
  border-top: 1px solid rgba(255, 255, 255, 0.08) !important;
}

.tab-bar {
  background-color: rgba(40, 44, 52, 0) !important;

  body:not(.tab-bar-indented) & {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
  }

  .tab {
    margin-top: -1px;
  }
}

body:not(.fullscreen) .tab-bar .tab.active {
  background-color: rgba(40, 44, 52, 0.6) !important;
}

.title-bar {
  background-color: rgba(40, 44, 52, 0.6) !important;

  body.tab-bar-indented & {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
  }
}

.vertical .panes .tab-bar > .tab {
  border-left: 1px solid rgba(255, 255, 255, 0.08) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.08) !important;
  margin-right: -1px;

  &.active {

    &::after {
      background-color: #AF0C56 !important;
    }
  }
}

.tool-panel.panel-bottom {
  background-color: rgba(40, 44, 52, 1) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.08) !important;
  border-top: 1px solid rgba(255, 255, 255, 0.08) !important;
}

atom-pane-container atom-pane {
  background-color: rgba(40, 44, 52, 0.6);
}

atom-workspace-axis.vertical > .panes {
  background-color: rgba(40, 44, 52, 1);

  .item-views {
    border-left: 1px solid rgba(255, 255, 255, 0.08) !important;
  }
}

.tree-view {
  color: white;
}

.panes atom-pane-axis.vertical .pane:not(:first-of-type) {
  .tab-bar {
    border-top: 1px solid rgba(255, 255, 255, 0.08) !important;
    background-color: rgba(40, 44, 52, 1) !important;
  }
}

.list-tree > .entry:not(.status-modified) {
  & > .header .name, & > .header::before {
    color: rgba(222, 223, 226, 0.6);
  }
}

.tree-view:focus .selected {
  &::before {
    background-color: #AF0C56 !important;
  }

  &.status-added {
    & > .name, & > .header .name, & > .header::before {
      color: white !important;
    }

    &::before {
      background-color: #8BC34A !important;
    }
  }

  &.status-modified {
    & > .name, & > .header .name, & > .header::before {
      color: #000000 !important;
    }

    &::before {
      background-color: #FECA27 !important;
    }
  }

  .list-item::before {
    background-color: transparent !important;
  }
}

atom-pane-container atom-pane-axis.horizontal > * {
  border-right: none !important;
}
