atom-text-editor.editor .line-number {
  font-family: PT Mono;
  font-weight: 600;
}

.title-bar .title {
  opacity: 0;
}

.tab-bar {
  margin-top: -40px;
  margin-left: 0;

  &.indented {
    margin-left: 90px;
  }
}

.tree-view {
  .entry.selected {
    &::before {
      left: -100px;
    }
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
  .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    padding-left: 16px;
  }
}

atom-text-editor .gutter .line-number.cursor-line {
  color: #E1BEE7;
  background-color: rgba(255, 255, 255, 0.06);
}


.atom-dock-toggle-button-visible {
  display: none !important;
}

.modal.overlay {
  top: 100px !important;

  box-shadow: 0 0 100rem rgba(0, 0, 0, 0.19), 0 0 10rem rgba(0, 0, 0, 0.23),  0 0 5rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;

  // Fancy command palette error message
  .command-palette {

    .editor.mini + span {
      display: block;
      text-align: center;
      font-size: 1.2em;
      margin: 20px 0;
    }

    .editor.mini + span::after {
      content: "(>_<)";
      display: block;
      font-size: 5em;
      margin: 10px 0 30px;
      opacity: 0.3;
    }

    // Random emotes
    &.face-1 .editor.mini + span::after {
      content: "(>_<)";
    }

    &.face-2 .editor.mini + span::after {
      content: "\\(^Д^)/";
    }

    &.face-3 .editor.mini + span::after {
      content: "(≥o≤)";
    }

    &.face-4 .editor.mini + span::after {
      content: "(^_^)b";
    }

    &.face-5 .editor.mini + span::after {
      content: "(·_·)";
    }

    &.face-6 .editor.mini + span::after {
      content: "(;-;)";
    }

    &.face-7 .editor.mini + span::after {
      content: "(='X'=)";
    }

    &.face-8 .editor.mini + span::after {
      content: "\\(o_o)/";
    }

    &.face-9 .editor.mini + span::after {
      content: "(·.·)";
    }

    &.face-10 .editor.mini + span::after {
      content: "(^-^*)";
    }

    &.face-11 .editor.mini + span::after {
      content: "(o^^)o";
    }

    &.face-12 .editor.mini + span::after {
      content: "(˚Δ˚)b";
    }

    &.face-13 .editor.mini + span::after {
      content: "(ง'-')ง";
    }

    &.face-14 .editor.mini + span::after {
      content: "(¬_¬)";
    }

    &.face-15 .editor.mini + span::after {
      content: "(◕ᗝ◕)";
    }

    &.face-16 .editor.mini + span::after {
      content: "(¬ ʖ̯¬)";
    }
  }
}
